body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  background-color: rgb(54, 51, 51);
}
.container {
  margin-top: 50px;
}
button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
#output {
  margin-top: 20px;
  padding: 10px;
  background: white;
  width: 300px;
  margin: auto;
  text-align: left;
  height: 300px;
  overflow-y: scroll;
  border: 1px solid #ccc;
}
